<div class="container">
    <div class="class-sm-6">
        <img src="images/graphpng" alt="">
    </div>

    <div class="class-sm-6">
        <h1>Thank your for joining</h1>
        <p>Go to <a href="/">home</a></p>
    </div>
</div>